.symbolCardPrice {
  display: flex;
  justify-content: space-between;
  padding: 8px 4px;

  .symbolCardPrice__label {
    align-self: end;
    font-size: 12px;
    text-transform: uppercase;
  }

  .symbolCardPrice__price {
    font-size: 22px;
    font-weight: bold;
  }
}