.symbolsView__content {
  display: flex;
  padding-top: 16px;
}

.symbolsView__chart {
  order: 1;
  width: 400px;
}

.symbolsView__cards {
  order: 0;
  flex-grow: 1;
}

@media screen and (max-width: 1023px) {
  .symbolsView__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .symbolsView__chart {
    order: 0;
  }

  .symbolsView__cards {
    order: 1;
    flex-basis: 100%;
    flex-grow: initial;
  }
}